/*By the way, don't just use one file for the css things try and have 1 css file for every html file (only if needed)
i was just being lazy*/

img {
    height: 150px;
    aspect-ratio: auto;
}

#titlebox {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%)
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#links {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#BugoSiEuri {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
}

#EuriParin {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products img {
    padding: 10px;
}

.contacts {
    Translate: (-50%, -50%)
}

#email{
    top: 37%;
    position:absolute;
    left: 41%;
}

#number{
    top: 57%;
    position:absolute;
    left: 41%;
}